body {
    background-color: rgb(83, 83, 83);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
    flex-direction: column;
    font-family: 'Impact', sans-serif;
}

#ball {
    width: 50px;
    height: 50px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#message {
    display: none;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
}

#extraMessage {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 100px;
    letter-spacing: 2px;
    text-align: center;
}

.blinking {
    animation: blinkingText 1.5s infinite;
}

@keyframes blinkingText {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

#counter {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

#startMessage {
    color: white;
    font-size: 24px;
    text-align: center;
    letter-spacing: 2px;
}
